<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8"><title>{% block title %}CaninosLook{% endblock %}</title>
</head>
<body>
  <nav>
    <a href="{% url 'home' %}">Inicio</a>
    {% if request.user.is_authenticated %}
      <span>Hola, {{ request.user.username }}</span>
      <!-- más adelante: <a href="{% url 'logout' %}">Salir</a> -->
    {% else %}
      <a href="{% url 'login' %}">Iniciar sesión</a>
    {% endif %}
  </nav>

  {% if messages %}
    <ul>{% for m in messages %}<li>{{ m }}</li>{% endfor %}</ul>
  {% endif %}

  {% block content %}{% endblock %}
</body>
</html>
