<form method="get" action="{% url 'ver_reservas' %}">
    <label for="fecha_reserva">Ver reservas para:</label>
    <!-- Utilizamos la propiedad onchange para que envíe el formulario al seleccionar la fecha -->
    <input type="date" name="fecha_reserva" id="fecha_reserva" onchange="this.form.submit()">
</form>
{% for f in res_xfecha %}
    <p>Servicio: {{ f.servicio_res }}</p>
    <p>Hora: {{ f.hora_res }}</p>
    <p>Medio de pago: {{ f.medio_pago_res }}</p>
    <p>Valor: Por definir</p>
    {% if f.confirm_pago_res == 0 %}
        <p>Sin pagar</p>
    {% elif f.confirm_pago_res == 1 %}
        <p>Pagado</p>
    {% endif %}
    <p>Cliente: {{ f.cliente_id_cliente.nombres_cli }} {{ f.cliente_id_cliente.nombres_cli }}</p>
    <p>Contacto: {{ f.cliente_id_cliente.email_cli}}, {{ f.cliente_id_cliente.numero_cli }}</p>
    <p>Perro: {{ f.canino_id_canino.nombre_can }}</p>
    <br>
{% endfor %}
<!--Que pueda ver las reservas para hoy y para otra fecha-->